[Unit]
Description=Provides display and control of Android devices connected on USB (or over TCP/IP)
Documentation=man:scrcpy(1)

[Service]
ExecStart=/usr/bin/scrcpy
