#!/usr/bin/make -f
# -*- makefile -*-
# vim: ft=makefile:
export DH_QUIET=1
export ANDROID_HOME=$(HOME)/android/sdk

override_dh_auto_configure:
	meson --prefix=/usr --buildtype release --strip -Db_lto=true x\
	$(if $(and $(DH_QUIET),$(filter 0,$(DH_QUIET))), >/dev/null)

override_dh_auto_build:
	dh_auto_build -- -Cx

override_dh_auto_install:
	dh_auto_install -- -Cx

override_dh_auto_clean:
	dh_auto_clean -- -Cx

override_dh_auto_test:
override_dh_installdocs:
override_dh_installchangelogs:

ifndef FAKEROOTKEY
clean binary:
	fakeroot dh $@ --parallel
endif

%:
	dh $@ --parallel
